* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #eee;
    color: #222;
    height: 100vh;
}

.sidebar-mainsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Content */
.mainsection {
    width: calc(100% - 270px);
    display: flex;
    padding: 10px;
    background-color: #eee;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
}

.section {
    width: 100%;
    /* height: 280px; */
    max-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    background-color: transparent;
    overflow-y: auto;
}

/* Card container */
.money-card {
    background: #fff;
    border-radius: 12px;
    padding: 20px 25px;
    width: 100%;
    max-width: 305px;
    height: 115px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* Hover animation */
.money-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.money-sub-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 7px;
}

/* Text section */
.money-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.money-title {
    font-size: 14px;
    color: #6c757d;
    margin: 0;
}

.money-amount {
    font-size: 25px;
    color: #000;
    font-weight: 600;
    margin: 0;
}

.money-change {
    font-size: 0.875rem;
    color: #000;
    margin: 0;
}

.money-change strong {
    color: #4CAF50;
}

/* Icon box */
.money-icon {
    background-color: #212529;
    color: #fff;
    width: 42px;
    height: 42px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .mainsection {
        width: 100%;
    }

    .section {
        height: 100%;
    }

    .money-card {
        width: 100%;
        max-width: 100%;
    }


}