.orders-container {
    background-color: #eee;
    height: 100vh;
    width: 100%;
}

.top-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

.top-buttons>button {
    width: 100%;
    border-radius: 0;
    border: none;
    padding: 7px 0;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.top-buttons>button:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.top-buttons>button:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.top-buttons>button:hover {
    background-color: #555;
    color: #fff;
}

.orders-table-section{
    width: 100%;
}

.dropdown-toggle {
  padding: 4px 12px!important;
  border-radius: 12px!important;
  font-size: 12px!important;
  font-weight: 500!important;
  text-transform: capitalize!important;
}

.dropdown-item {
  font-size: 12px;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
}

.dropdown-item:hover {
  background: rgba(255, 75, 43, 0.08) !important;
  color: #ff4b2b !important;
}