/* Footer */
.footer {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #999999;
    padding: 15px;
    border-top: 1px solid #ddd;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    height: 50px;
    max-height: 50px;
    transition: all 0.3s ease;
}

.footer-text {
    width: 98%;
    text-align: center;
}

.footer-btn {
    width: 2%;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .footer-text {
        width: 95%;
        text-align: left;
    }

    .footer-btn {
        width: 5%;
    }
}