
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  width: 100%;
}

.top-bar input {
  /* flex: 1; */
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 80%;
}

.filter-sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 20px;
  width: 25%;
}

.top-bar select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 50%;
}

.top-bar select::-moz-focus-inner {
  background-color: #2f9d63;
}




.delete-selected-btn {
    position: relative;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease;
    font-weight: 600;
    padding: 18px 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    box-shadow: rgb(255, 0, 0) 0px 50px 100px -20px, rgb(255, 1, 1) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.delete-selected-btn small:first-child {
    color: #fff;
    position: absolute;
    left: 12px;
    font-size: 15px;
}

.delete-selected-btn small:last-child {
    color: #fff;
    position: absolute;
    right: 12px;
    font-size: 15px;
}

.delete-selected-btn:hover {
    background-color: #000;
    transition: 0.2s ease;
}


@media only screen and (max-width: 800px) {
    .delete-selected-btn {
        width: 170px;
    }
}

.search-add{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.add-selected-btn {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease;
    font-weight: 600;
    padding: 18px 10px;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.add-selected-btn small:first-child {
    color: #fff;
    position: absolute;
    left: 12px;
    font-size: 15px;
}

.add-selected-btn small:last-child {
    color: #fff;
    position: absolute;
    right: 12px;
    font-size: 15px;
}

.add-selected-btn:hover {
    background-color: #000;
    transition: 0.2s ease;
}


@media only screen and (max-width: 800px) {
    .add-selected-btn {
        width: 170px;
    }
}


